@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root{
    --main-color: #041c2c;
    --main-color2: #04243a;
    --yellow: #FAA916;
}

::-webkit-scrollbar{
    width: 0.4rem;
}
::-webkit-scrollbar-thumb{
    background: #001322;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: #032c47;
}



body{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

.header{
    margin: 0;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s ease-in-out;
}

.header-change{
    background: linear-gradient(to right, #011624, #013d66);
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.486);
    animation: fadeIn;
    animation-duration: 250ms;
}

header .nav{
    padding: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

header .nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    transition: .5s ease-in-out;
}

header .nav a:hover{
    color: var(--yellow);
}

.mobile-nav{
    position: fixed;
    top: 4rem;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    height: 80vh;
    text-align: center;
    z-index: 50;
    animation: translateLeft2 1s;
}

.mobile-nav a:not(.btn-custom-1){
    text-decoration: none;
    color: var(--main-color);
    padding: 1rem;
    text-transform: uppercase;
}

.mobile-nav a:not(.btn-custom-1):hover{
    background-color: var(--yellow);
}



#ham{
    width: 1.5rem;
    height: 1.5rem;
}


.loader-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}
.logo{
    overflow: hidden;
}

.logo h5{
    animation-name: translateRight;
    animation-duration: 1s;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

.logo span{
    color: var(--yellow);
}



.btn-custom-1{
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
    background-color: #DB162F;
    border-radius: 30px;
    position: relative;
    color: #fff;
    text-decoration: none;
    z-index: 2;
}

.btn-custom-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    background-color: #DB162F;
    transition: .35s ease-in-out;
}

.btn-custom-1:hover::before{
    transform: scale(1.4);
    opacity: 0;
}

.btn-custom-1:hover{
    color: #fff;
}

.btn-custom-2{
    padding: 0.7rem 2rem;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid #fff;
    overflow: hidden;
    display: inline-block;
    font-size: 0.9rem;
    transition: .35s ease-in-out;
}


.btn-custom-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    transition: .35s ease-in-out;
    transform: translateX(-100%);
    animation-name: animateBtn;
    animation-duration: 2s;
}

.btn-custom-2:hover::before{
    transform: translateX(0%);
}

.btn-custom-2:hover{
    color: #011320;
    
}

.btn-custom-3{
    padding: 0.7rem 0.7rem;
    position: relative;
    color: var(--main-color);
    text-decoration: none;
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
    font-size: 0.7rem;
    transition: .35s ease-in-out;
    font-weight: 700;
}

.btn-custom-4{
    color: var(--yellow);
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 2rem;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: inset 2px 4px 15px #000000cc;
}

.active-4{
    position: relative;
}
.active-4 span{
    display: inline-block;
    position: relative;
}
.active-4 span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0%, 0%);
    opacity: 0.3;
    filter: blur(10px);
    background-color: var(--yellow);
    animation-name: fadeIn2;
    animation-duration: .2s;
}

.active-4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.15rem;
    height: 1.2rem;
    transform: translateY(75%);
    background-color: var(--yellow);
    animation-name: fadeIn;
    animation-duration: .4s;
}

.active-4::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.15rem;
    height: 1.2rem;
    transform: translateY(75%);
    background-color: var(--yellow);
    animation-name: fadeIn;
    animation-duration: .4s;
}

.btn-custom-4:hover{
    color: var(--yellow);
}

.btn-custom-5{
    text-decoration: none;
    color: var(--yellow);
    padding: 0.5rem;
    font-size: 0.6rem;
    /* border: 1px solid #fff; */
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    transition: .2s ease-in-out;
    box-shadow: inset -3px -3px 5px #012842, inset 5px 5px 5px #011524;
}

.btn-custom-5::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    transition: .35s ease-in-out;
    transform: translateX(-100%);
}

.btn-custom-5:hover::before{
    transform: translateX(0%);
}

.btn-custom-5:hover{
    color: var(--main-color);
}

.top-rated, .upcoming, .now-showing{
    background-color: var(--main-color);
    color: #fff;
}
.now-showing{
    background-color: var(--main-color2);
}
.now-showing .movie-card{
    box-shadow: -5px -5px 5px #012c49, 5px 5px 5px #01192c;
}
.movie-card{
    /* box-shadow: 2px 8px 15px #011320; */
    box-shadow: -5px -5px 5px #01243b, 5px 5px 5px #001322;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movie-poster{
    height: 23rem;
    width: 100%;
}

.movie-poster img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.movie-year{
    color: var(--yellow);
}

.rating i {
    color: var(--yellow);
}

.rating span{
    font-size: 0.8rem;
}

.current{
    display: flex;
    align-items: center;
}

.current span{
    margin-right: 0.5rem;
}

.translate-left{
    animation-name: translateLeft;
    animation-duration: .4s;
}

.translate-up{
    animation-name: translateUP;
    animation-duration: .4s;
}

.translate-down{
    animation-name: translateDown;
    animation-duration: .4s;
}

.translate-right{
    animation-name: translateRight;
    animation-duration: .4s;
}

.owl-nav{
    position: absolute;
    top: -5.5rem;
    right: 0px;
    border: 2px solid rgba(170, 172, 175, 0.3);
    padding: 0.1rem 1rem;
    border-radius: 30px;
}

.owl-prev span{
    display: inline-block;
    padding-right: 0.5rem;
    border-right: 2px solid rgba(170, 172, 175, 0.3);
}


.owl-theme .owl-nav [class*='owl-']:hover{
    background: none;
    color: var(--yellow);
    transition: .2s ease-in-out;
}

.owl-stage{
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.search-page{
    background-color: var(--main-color);
    min-height: 100vh;
}

.search-form{
    width: 50%;
}

footer{
    background-color: var(--main-color2);
    padding: 4rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

footer a{
    color: #fff;
}

footer a:hover{
    color: var(--yellow);
}

footer .api-vendor a{
    color: var(--yellow);
}

@media (max-width: 700px) {
    .owl-nav{
        top: -5rem;
    }
    .h2{
        font-size: 1.2rem;
    }
    header .nav{
        display: none;
    }

    footer{
        flex-direction: column;
    }
    .search-form{
        width: 100%;
    }
}